<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="img/icons/portfolio.png" type="image/x-icon">
        <title>Welcome</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap" />
        <link rel="stylesheet" href="fonts/ionicons.min.css" />
        <link rel="stylesheet" href="css/pikaday.min.css" />
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height: 100vh;">
                <div class="col-md-8 text-center">
                    <h1 class="display-1">Hello, I'm Sanjay!</h1>
                    <h2>Welcome to Our Site.</h2>
                </div>
            </div>
        </div>
    </body>

</html>